[submodule "public"]
	path = public
	url = https://github.com/minjikarin/hugo-gh-pages-public.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/minjikarin/hugo-theme-cactus.git
